<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사칙연산 계산기</title>
</head>
<style>

    #inputs {
        margin-bottom: 10px;
    }

    #calculation {
        width: 300px;
        padding: 5px;
        border: 1px solid #ccc;
    }

    button[type="submit"] {
        width: 100px;
        height: 40px;
        font-size: 30px;
        background-color: #fcec45;
        color: #090303;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<body>
<form id="calcForm">
    <div id="inputs">
        <div>
            <input type="text" name="calculation" id="calculation">
        </div>
    </div>
    <button type="submit">계산</button>
</form>
<div class="details">
    <div>- 숫자와 숫자 사이에 +,-,*,/를 넣어주세요. =는 넣지 않아도 됩니다.</div>
    <div>곱셈 기호 *를 생략하면 제대로 동작하지 않으니 꼭 넣어주세요.</div>
    <div>- 괄호는 현재 소괄호 ()만 지원됩니다. 중괄호와 대괄호는 추후 업데이트 예정입니다.</div>
    <div>- 소수점은 0.000001까지 지원됩니다.</div>
    <div>- 계산 결과는 -1.8*10^308 ~ 1.8*10^308까지 지원됩니다.</div>
<br>
    <br>
    <div id="result"></div>
</div>

<script>
    document.getElementById("calcForm").addEventListener("submit", function(event) {
        event.preventDefault();

        const formData = {
            calculationData: document.getElementById("calculation").value
        };

        fetch("http://localhost:8080/four-basic-calc/calcProc", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("네트워크 응답이 올바르지 않습니다.");
                }
                return response.json();
            })
            .then(data => {
                document.getElementById("result").innerHTML = "계산 결과 = " + data;
            })
            .catch(error => {
                document.getElementById("result").innerHTML = "잘못된 입력입니다. 숫자와 +,-,*,/만 사용해주세요. 에러메세지 : " + error.message;
            });
    });
</script>

</body>
</html>

