<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form class="join-form" action="/joinProc" method="post" name="joinForm">
    <p class="info">회원가입 페이지입니다.</p>
    <div class="username input-div">
        <label for="username" />아이디
        <input
                id="username"
                type="text"
                name="username"
                placeholder="아이디를 입력하세요."
        />
    </div>
    <div class="password input-div">
        <label for="password" />비밀번호
        <input
                id="password"
                type="password"
                name="password"
                placeholder="비밀번호를 입력하세요."
        />
    </div>
    <input type="submit" value="join" />
</form>
</body>
</html>